# Database Configuration
DATABASE_URL=mysql+aiomysql://bob_user:bob_password@mysql:3306/bob_db
DATABASE_SYNC_URL=mysql+pymysql://bob_user:bob_password@mysql:3306/bob_db

# Cache & Message Broker
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0


# Application Server Config
HOST=0.0.0.0
PORT=9101
DEBUG=True
LIVE_AGENT_ACTION_ID=9999.5006

# RAG Settings
