# Database Configuration
DATABASE_URL=mysql+aiomysql://bob_user:bob_password@localhost:23306/bob_db
DATABASE_SYNC_URL=mysql+pymysql://bob_user:bob_password@localhost:23306/bob_db

# Cache & Message Broker
REDIS_URL=redis://localhost:26379/0
CELERY_BROKER_URL=redis://localhost:26379/0
CELERY_RESULT_BACKEND=redis://localhost:26379/0


# Application Server Config
HOST=0.0.0.0
PORT=9103
DEBUG=True
LIVE_AGENT_ACTION_ID=9999.5006

# CRM Settings
CRM_CLIENT_ID=OAqnjdBKVy0TXy2AZoKjkIPIhsOACGg7MWcffQjNVy0
CRM_AUTH_TOKEN=xLncDlwuzwzGNHo
CRM_API_URL=https://crm.c-zentrix.com/CZCRM/api/AddLeadapi.php

# RAG Settings
